// ブレイクポイント
// 参考：https://crestadesign.org/responsive/
$breakpoints: (
    "sp": "screen and (max-width: 599px)",
    "tablet": "screen and (max-width: 1024px)",
    "pc": "screen and (min-width: 1025px)",
) !default;

// メディアクエリ
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// ニューモフィズムのbox-shadow
@mixin nf-shadow($lighten: #fff, $darken: #b8b9be, $size: 4px, $blur: 8px) {
    box-shadow: $size $size $blur $darken,
        calc($size * -1) calc($size * -1) $blur $lighten;
}

// ニューモフィズムのinner-shadow
@mixin nf-inner-shadow(
    $lighten: #fff,
    $darken: #b8b9be,
    $size: 4px,
    $blur: 8px
) {
    box-shadow: inset $size $size $blur $darken,
        inset calc($size * -1) calc($size * -1) $blur $lighten;
}
