@import url(https://fonts.googleapis.com/css?family=Nunito);
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
      "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  --red: red;
}
