:root {
    /* font-family */
    --font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
        "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

    /* color variable */
    --white: #fff;
    --black: #000;
    --yellow: #fbc02d;
    --dark-blue: #0288d1;
    --dark-gray: #455a64;
    --light-gray: #eceff1;

    /* margin variable */
    --margin-xxs: 12px;
    --margin-xs: 20px;
    --margin-s: 32px;
    --margin-m: 48px;
    --margin-l: 60px;
    --margin-xl: 80px;

    /* border radius variable */
    --border-radius-xxs: 4px;
    --border-radius-xs: 12px;
    --border-radius-s: 20px;
    --border-radius-circle: 50%;

    /* size */
    --width-pc: 990px;
    --main-visual-height: 180px;

    /* z-index */
    --header-z-index: 1000;
}
