:root {
    /* font-family */
    --font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
        "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

    /* color variable */
    --white: #fff;
    --black: #000;
    --dark-blue: #0288d1;
    --dark-gray: #455a64;

    /* margin variable */
    --margin-xxs: 12px;
    --margin-xs: 20px;
    --margin-s: 32px;
    --margin-m: 48px;
    --width-pc: 990px;
}
